// $color: #209FD3;


.container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;

    .titleContainer {
        border-radius: 3px 3px 0 0;
        box-shadow: none;
        box-sizing: border-box;
        display: inline-block;
        line-height: 19px;
        margin: 0 0 10px;
        padding: 10px 35px 10px 15px;
        vertical-align: middle;
        width: calc(100% - 20px);
        border: 1px solid;
        .title {
            font-weight: 500;
        }
        .subtitle{
            font-size: .8rem;
        }
    }
   
    .containerDroppable { 
        display: flex; 
        flex-direction: column; 
        align-items: center;
        .droppable{
            // border: 2px dashed black;
            padding: 8px; 
            height: 800px; 
            width: 300px;
            overflow-y: auto;
            .draggable{
                box-shadow: 0px 0px 3px -1px #000;
                padding: 16px;
                margin: 0 0 16px 0;
                // height: 40px;
                border-radius: 3px;
            }
        }
        
    }
}
