.container {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
  }
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.inputFocused {
  outline: none;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 31px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestionHighlighted {
  background-color: #ddd;
}

.sectionContainer {
  border-top: 1px dashed #ccc;
}

.sectionContainerFirst {
  border-top: 0;
}

.sectionTitle {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}